@page
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    ViewData["Title"] = "Home";
    var accessToken = await HttpContext.GetTokenAsync("access_token");
}
<h1>Hello @(User.Identity.IsAuthenticated ? User.Identity.Name : "anonymous")</h1>

@if (User.Identity.IsAuthenticated)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    @if (!string.IsNullOrWhiteSpace(accessToken))
    {
        <h2>Tokens</h2>
        <dl>
            <dt>Access Token</dt>
            <dd>@accessToken</dd>
            <dt>Refresh Token</dt>
            <dd>@await HttpContext.GetTokenAsync("refresh_token")</dd>
            <dt>Token Type</dt>
            <dd>@await HttpContext.GetTokenAsync("token_type")</dd>
            <dt>Expires At</dt>
            <dd>@await HttpContext.GetTokenAsync("expires_at")</dd>
        </dl>
    }
    <a class="btn btn-danger" asp-page="/Account/Logout">Logout</a>
}
else
{
    <a class="btn btn-primary" asp-page="/Account/Login">Login</a>
}

