version: '{build}'
image: Visual Studio 2019
nuget:
  disable_publish_on_pr: true
build_script:
- ps: |
    dotnet build -c Release
    msbuild samples\Samples.sln -noLogo -verbosity:minimal -restore -p:Configuration=Release
test_script:
- ps: dotnet test -c Release --no-build --verbosity=normal
artifacts:
- path: '**\Release\*.nupkg'
  name: NuGet
