@{
    ViewData["Title"] = "Login";
}
@if (!Request.IsSecureConnection)
{
    <div class="alert alert-danger" role="alert">
        <a href="https://web.dev/samesite-cookies-explained/#samesitenone-must-be-secure">HTTPS</a> is required for authentication cookies validation in modern browsers (<a href="https://www.chromium.org/updates/same-site">since Chrome version 80</a>)
    </div>
}

<h1>Choose an authentication scheme</h1>

@foreach (var type in Context.GetOwinContext().Authentication.GetAuthenticationTypes())
{
    if (string.IsNullOrWhiteSpace(type.Caption)) { continue; }
    <a class="btn btn-outline-primary btn-lg" href="?scheme=@type.AuthenticationType" role="button">@type.Caption</a>
}
