@{
    ViewData["Title"] = "Login";
}

<h1>Choose an authentication scheme</h1>

@foreach (var type in Context.GetOwinContext().Authentication.GetAuthenticationTypes())
{
    if (string.IsNullOrWhiteSpace(type.Caption)) { continue; }
    <a class="btn btn-outline-primary btn-lg" href="?scheme=@type.AuthenticationType" role="button">@type.Caption</a>
}