@page
@model BlazorServerSample.Pages.Account.ExternalLoginFailureModel
@{
    Layout = "_Layout";
    ViewData["Title"] = "External Login Failure";
}

<h1 class="text-danger">Unsuccessful login with service.</h1>