@page "/"
@attribute [AllowAnonymous]

<PageTitle>Home</PageTitle>

<AuthorizeView>
    <Authorized>
        <h1>Hello, @context.User.Identity?.Name!</h1>
        <p>
            AuthenticationType: <code>@context.User.Identity?.AuthenticationType</code>
        </p>
        <details>
            <summary>Claims</summary>
            <dl>
                @foreach (var claim in context.User.Claims)
                {
                    <dt>@claim.Type</dt>
                    <dd>@claim.Value</dd>
                }
            </dl>
        </details>
        <a class="btn btn-danger" href="/Account/Logout">Logout</a>
    </Authorized>
    <NotAuthorized>
        <h1>Hello, anonymous</h1>
        <a class="btn btn-primary" href="/Account/Login">Login</a>
    </NotAuthorized>
</AuthorizeView>