@page
@using Microsoft.AspNetCore.Authentication
@model IndexModel
@{
    ViewData["Title"] = "Home";
}
<h1>Hello @(User.Identity?.IsAuthenticated == true ? User.Identity.Name : "anonymous")</h1>

@if (User.Identity?.IsAuthenticated == true)
{
    <h2>Claims</h2>
    <dl>
        @foreach (var claim in User.Claims)
        {
            <dt>@claim.Type</dt>
            <dd>@claim.Value</dd>
        }
    </dl>
    <a class="btn btn-danger" asp-page="/Account/Logout">Logout</a>
}
else
{
    <a class="btn btn-primary" asp-page="/Account/Login">Login</a>
}

