<?xml version="1.0"?>
<RuleSet Name="FxCop Rules" Description="FxCop Rules" ToolsVersion="15.0">
   <Rules AnalyzerId="Microsoft.CodeQuality.Analyzers" RuleNamespace="Microsoft.CodeQuality.Analyzers">
      <Rule Id="CA1031" Action="None" />             <!-- Do not catch general exception types -->
      <Rule Id="CA1051" Action="None" />             <!-- Do not declare visible instance fields -->
      <Rule Id="CA1056" Action="None" />             <!-- Uri properties should not be strings -->
      <Rule Id="CA1062" Action="None" />             <!-- Validate arguments of public methods -->
      <Rule Id="CA1303" Action="None" />             <!-- Do not pass literals as localized parameters -->
      <Rule Id="CA1812" Action="None" />             <!-- Avoid uninstantiated internal classes -->
      <Rule Id="CA1822" Action="None" />             <!-- Mark members as static -->
      <Rule Id="CA2208" Action="None" />             <!-- Instantiate argument exceptions correctly -->
      <Rule Id="CA2211" Action="None" />             <!-- Non-constant fields should not be visible -->
      <Rule Id="CA2227" Action="None" />             <!-- Collection properties should be read only -->
   </Rules>
</RuleSet>