<?xml version="1.0" encoding="utf-8" ?>
<!-- https://nlog-project.org/config/ -->
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
      autoReload="true"
      throwConfigExceptions="true">
  <targets>
    <target name="debug" xsi:type="DebugSystem" />
  </targets>
  <rules>
    <!-- log level: Trace|Debug|Info|Warn|Error|Fatal -->
    <logger name="*" minlevel="Debug" writeTo="debug" />
  </rules>
</nlog>