@using System.Security.Claims;
@{
    ViewBag.Title = "Account Infomation";
    var identity = User.Identity as ClaimsIdentity;
}
<h1>Hello @identity.Name</h1>
<ul>
@foreach (var claim in identity.Claims)
{
    <li>@claim.Type: @claim.Value</li>
}
</ul>
@Html.ActionLink("Logout", "Logout", "Account")