name: Build

on:
  push:
    branches:
      - main
    paths:
      - '.config/**'
      - '*.sln'
      - '*.slnx'
      - 'src/**'
      - 'test/**'
      - 'Directory.*.props'
  pull_request:
    branches:
      - main
    paths:
      - '.config/**'
      - '*.sln'
      - '*.slnx'
      - 'src/**'
      - 'test/**'
      - 'Directory.*.props'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: true

permissions: read-all

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            8.0.x
            10.0.x
          cache: true
          cache-dependency-path: '**/Directory.Packages.props'
      - name: Build
        run: |
          dotnet --info
          dotnet build -c Release
      - name: Test
        run: |
          dotnet test --collect:"XPlat Code Coverage" --filter "FullyQualifiedName!~E2E"
          dotnet tool restore
          dotnet tool run reportgenerator
          [[ -f "./coverage/Summary.txt" ]] && cat "./coverage/Summary.txt"
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
