name: Build OWIN

on:
  push:
    branches:
      - main
    paths:
      - '.github/workflows/build-owin.yml'
      - 'Directory.*.props'
      - 'owin/**'
      - 'src/GSS.Authentication.Owin/**'
  pull_request:
    branches:
      - main
    paths:
      - '.github/workflows/build-owin.yml'
      - 'Directory.*.props'
      - 'owin/**'
      - 'src/GSS.Authentication.Owin/**'

concurrency:
  group: ${{ github.workflow }}-${{ github.ref }}
  cancel-in-progress: ${{ github.ref != 'refs/heads/main' }}

permissions:
  contents: write
  pull-requests: write

jobs:
  build:
    runs-on: windows-latest
    steps:
      - name: Checkout
        uses: actions/checkout@v6
        with:
          fetch-depth: 0
      - name: Set up MSBuild
        uses: microsoft/setup-msbuild@v2
        with:
          msbuild-architecture: x64
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v5
        with:
          dotnet-version: |
            10.0.x
          cache: true
          cache-dependency-path: '**/Directory.Packages.props'
      - name: Build
        run: |
          cd owin
          msbuild -version
          msbuild -noLogo -verbosity:minimal -restore
      - name: Test
        run: |
          cd owin
          dotnet test --collect:"XPlat Code Coverage"
          dotnet tool restore
          dotnet tool run reportgenerator
      - uses: codecov/codecov-action@v5
        env:
          CODECOV_TOKEN: ${{ secrets.CODECOV_TOKEN }}
      - name: Check for changes in web.config
        id: check_for_changes
        shell: bash
        run: |
          if git diff --exit-code "owin/OwinSample/web.config"; then
            echo "changes_detected=false" >> "$GITHUB_OUTPUT"
          else
            echo "changes_detected=true" >> "$GITHUB_OUTPUT"
          fi
      - name: Commit binding redirect changes
        if: ${{ github.event_name == 'pull_request' && steps.check_for_changes.outputs.changes_detected == 'true' }}
        env:
          HEAD_REF: ${{ github.head_ref }}
        run: |
          git config user.name "github-actions[bot]"
          git config user.email "github-actions[bot]@users.noreply.github.com"
          git add owin/OwinSample/web.config
          git commit -m "Fix assembly binding redirects"
          git push origin HEAD:$HEAD_REF
