name: CI

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main
  # Allow manually triggering the workflow.
  workflow_dispatch:

permissions: read-all

jobs:
  build:
    strategy:
      matrix:
        os:
          - ubuntu-latest
          - windows-latest
    runs-on: ${{ matrix.os }}
    steps:
      - name: Checkout repository
        uses: actions/checkout@v3
        with:
          fetch-depth: 10
      - name: Set up .NET SDK
        uses: actions/setup-dotnet@v3
        with:
          dotnet-version: |
            6.0.x
      - name: Set up MSBuild
        if: matrix.os == 'windows-latest'
        uses: microsoft/setup-msbuild@v1
        with:
          msbuild-architecture: x64
      - name: Build
        run: |
          dotnet --info
          dotnet build -c Release
          msbuild -version
          msbuild samples/OwinSample/OwinSample.csproj -noLogo -verbosity:minimal -restore
      - name: Build static assets
        if: matrix.os == 'ubuntu-latest'
        run: |
          corepack enable
          cd samples/AspNetCoreReactSample/ClientApp
          yarn --version
          yarn install --immutable
          yarn lint
          yarn build
      - name: Test
        run: |
          dotnet test --collect:"XPlat Code Coverage"
          dotnet tool restore
          dotnet tool run reportgenerator "-reports:**/coverage.cobertura.xml" "-targetdir:coverlet/reports" "-reporttypes:Cobertura"
      - uses: codecov/codecov-action@v3
        with:
          name: unittests-${{ matrix.os }}
